*{
    margin: 0px;
    padding: 0px;
}
main {
    max-width: 700px;
    margin: auto;
}
.ticket {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 120px;
    
    box-shadow: 5px 7px 6px #24232329;
}
.line-top{
    background-color: rgb(238, 238, 238);
    border-radius: 10px 10px 0px 0px;
}
.line-bot{
    padding: 20px;
}
img{
    margin-bottom: 20px;
    width: 30%;
    text-align: center;
    padding: 10px 20px 0px 20px;
}
.content-ticket2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 20px;
    
}